@use '../abstracts/variables' as vars;

/* Carrossel */
.carrossel {
    position: relative;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 24px 0;
    overflow: hidden;
}

.carrossel-conteudo {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    flex: 0 0 44%; /* Exibe 3 imagens por vez por padrão */
    padding: 10px;
    height: 368px;
}

.item img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    object-fit: cover;
}

/* Navegação */
.navegacao {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bolinha {
    width: 12px;
    height: 12px;
    background-color: vars.$neutrals-200;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bolinha.active {
    background-color: vars.$primary-500;
}

/* Estilos para as setas */
.seta {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; 
}


.esquerda {
    left: 24px; /* Posição da seta à esquerda */
}

.direita {
    right: 16px; /* Posição da seta à direita */
}

/* Responsividade para tablets */
@media (max-width: 768px) {
    .item {
        flex: 0 0 54%; /* Exibe 2 imagens por vez */
        padding: 1%;
    }
}

/* Responsividade para mobile */
@media (max-width: 480px) {
    .item {
        flex: 0 0 89%; /* Exibe 1 imagem por vez */
    }

    .seta img {
        width: 25px; /* Ajusta o tamanho da seta em dispositivos móveis */
    }

    .navegacao {
        display: none; /* Oculta as bolinhas no mobile */
    }
}
