@use '../abstracts/variables' as vars;

/* Carrossel */
.carrossel {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 24px 0;
    overflow: hidden;
}

.carrossel-conteudo {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.item {
    flex: 0 0 42%; /* Exibe 3 imagens por vez por padrão */
    padding: 10px;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

/* Navegação */
.navegacao {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.bolinha {
    width: 12px;
    height: 12px;
    background-color: vars.$neutrals-200;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.bolinha.active {
    background-color: vars.$primary-500;
}

/* Responsividade para Tablets */
@media (max-width: 768px) {
    .item {
        flex: 0 0 54%; /* Exibe 2 imagens por vez */
        padding: 1%;
    }
}

/* Responsividade para Mobile */
@media (max-width: 480px) {
    .item {
        flex: 0 0 89%; /* Exibe 1 imagem por vez */
    }
}
