@use '../abstracts/variables' as vars;

// Navbar Styles
/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10%;
  background-color: #fff;
  position: relative;
  z-index: 100;
  position: fixed; /* Fixa a navbar no topo */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Certifique-se de que esteja acima de outros elementos */
  background-color: #fff; /* Garante que tenha um fundo sólido */
  transition: box-shadow 0.3s ease; /* Suaviza a transição do box-shadow */
}

/* Navbar com sombra (quando a página rolar) */
.navbar.scrolled {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona a sombra */
}

/* Logo e Links no Desktop */
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo {
  img {
    width: 178px;
  }
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  font-weight: bold;
}

/* Botões no Desktop */
.navbar-buttons {
  display: flex;
  gap: 10px;
}

.dashboard-button {
  font-size: 14px;
}

/* Botão Hamburger */
.navbar-toggle {
  display: none; /* Escondido no desktop */
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px 0;
}

/* Responsivo: Apenas Logo visível inicialmente */
@media (max-width: 768px) {
  /* Esconde os links e botões no layout principal */
  .navbar-links,
  .navbar-buttons {
    display: none;
  }

  /* Exibe o botão de toggle */
  .navbar-toggle {
    display: block;
  }

  /* Links e Botões no Menu Mobile */
  .navbar.open .navbar-links,
  .navbar.open .navbar-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    gap: auto;
    padding-left: 10%;

  }

  .navbar.open .navbar-links {
    width: 100%;
  }

  .navbar.open .navbar-buttons {
    width: 100%;
    top: 250%;
  }

  .auth-container {
    flex-direction: column-reverse;
    align-items: auto;
  }
}

// * Authentication Container
.auth-container {
  position: relative;
  display: flex;
  gap: 0.4rem;
  margin-inline-end: 0.4rem;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: vars.$neutrals-300;
  font-weight: bold;
  font-size: 20px;
  color: vars.$bg-color;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Dropdown Menu
.dropdown {
  position: absolute;
  top: 50px;
  background: vars.$bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px 24px 12px;
  display: none;
  z-index: 10;
  font-size: 14px;
  border-radius: 12px;

  &.visible {
    display: block;
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
    width: 100%;

    &:hover {
      background-color: vars.$primary-400;
    }
  }
}

#profileDropdown {
  display: flex;
  align-items: baseline;
  gap: .2rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      opacity: .7;
    }
  }
}

#dropdownMenu > button {
  display: flex;
  gap: 0.4rem;
  color: vars.$text-300;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: vars.$neutrals-50;
  }
}

// Responsive Navigation Modal
.nav-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  .modal-content {
    background: white;
    padding: 48px 24px 24px 32px;
    border-radius: 8px;
    max-width: 380px;
    height: auto;

    input {
      width: 100%;
      padding: 10px;
      margin: 12px 0 0;
      box-sizing: border-box;
    }
  }
}

// Buttons
.google-login-button,
#modalLoginButton,
#signupModalButton {
  width: 100%;
  padding: 10px;
  background-color: vars.$primary-500;
  color: vars.$bg-color;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  border-radius: 5px;

  &:hover {
    background-color: vars.$primary-400;
  }
}

.google-login-button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  background-color: vars.$neutrals-50;
  color: vars.$text-500;
  margin-bottom: 24px;

  &:hover {
    background-color: rgba(224, 217, 217, 0.685);
  }

  img {
    width: 24px;
  }
}

#forgotPassword {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: vars.$text-500;
  margin-top: .2rem;
  text-decoration: underline;

  &:hover {
    color: vars.$text-300;
  }
}

#privacyPolicy {
  p, a {
    color: vars.$neutrals-500;
    font-size: .7rem;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

// Small Screens Adjustments
#menu-link,
#login,
#signup,
#book-now,
#dashboardButton {
  display: none;
  cursor: pointer;
}

// Utility Classes
.input-warning {
  color: red;
  font-size: 0.7rem;
  display: none;
}

.account-switcher {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  gap: 0.5rem;

  button {
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    color: vars.$primary-500;
    text-decoration: underline;

    &:hover {
      color: vars.$primary-600;
    }
  }
}
