@use '../abstracts/variables' as vars;


.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Elemento do botão no acordeão */
.accordion__button {
  width: 100%;
  padding: 20px 24px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: vars.$neutrals-50;
  border: none;
  cursor: pointer;
  font-size: .8rem;
  border-radius: 12px;
  transition: background-color 0.3s;
}


/* Elemento do conteúdo do acordeão */
.accordion__content {
  display: none;
  padding: 15px;
  background-color: vars.$neutrals-50;
  border-radius: 0 0 12px 12px;
  position: relative; /* Necessário para posicionar a borda */



  p {
    margin-bottom: 1rem;
    font-size: .8rem;
  }
}

.material-symbols-rounded.add {
  color: vars.$primary-500; /* Cor rosa */
}

.accordion__button.open {
  border-radius: 12px 12px  0 0; /* Novo valor do border-radius quando aberto */
}

.accordion__content::after {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateX(-40%);
    width: 42%;
    border-bottom: 2.5px solid vars.$primary-500;
    overflow: hidden;
  }