@use '../abstracts/variables' as vars;


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$bg-color;
  color: rgb(27, 27, 27);
  padding: 2% 7%;
  position: sticky;
  width: 100%;
  z-index: 999;

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 1rem;
    flex-shrink: 0; // Impede que o logo encolha
  }

  .navbar-buttons {
    display: flex;
    gap: .5rem;
  }

  .nav-list,
  .nav-list-links {
    display: flex;
    align-items: center;
    gap: .2rem;
  }

  .nav-links {
    a {
      text-decoration: none;

    }
  }
}

.auth-container {
  position: relative;
  display: flex;
  gap: .4rem;
  align-items: center;
  margin-inline-end: .4rem;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: vars.$neutrals-300;
  font-weight: bold;
  vertical-align: baseline;
  font-size: 16px;
  color: vars.$bg-color;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: vars.$bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px 24px 12px 24px;
  display: none;
  z-index: 10;
  font-size: 14px;
  border-radius: 12px;

  &.visible {
    display: block;
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
    width: 100%;

    &:hover {
      background-color: vars.$primary-400;
    }
  }
}

#dropdownMenu>button {
  display: flex;
  gap: .4rem;
  color: vars.$text-300;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: vars.$neutrals-50;
  }
}


// Modal de login
.nav-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    height: auto;

    input {
      width: 100%;
      padding: 10px;
      margin: 10px 0;
      box-sizing: border-box;
    }

  }
}

.google-login-button,
#modalLoginButton,
#signupModalButton {
  width: 100%;
  padding: 10px;
  background-color: vars.$primary-500;
  color: vars.$bg-color;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;

  &:hover {
    background-color: vars.$primary-400;
  }
}


.google-login-button {
  display: flex;
  gap: .4rem;
  align-items: center;
  justify-content: center;
  background-color: vars.$neutrals-50;
  color: vars.$text-500;

  &:hover {
    background-color: vars.$neutrals-100;
  }

  img {
    width: 24px;
  }
}


// Estilos para menu em telas pequenas
#menu,
#login,
#signup,
#book-now,
#dashboardButton {
  display: none;
  cursor: pointer;
}

@media (max-width: 1202px) {

  .nav-list-links li,
  .dashboard,
  .book-now {
    display: none; // Esconde os links de navegação
  }

  #menu,
  #login,
  #signup,
  #book-now {
    display: block; // Exibe o ícone do menu
  }

  #menu {
    margin-right: .5rem;
    background-color: transparent;
    border: none;
  }

}

// Estilos para o menu de navegação (em telas pequenas)
.nav-list-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px; // Ajuste para a altura da navbar
  background-color: vars.$bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  left: 0;
  height: 100vh;
  width: 70%;
  align-items: flex-start;
  z-index: 999;

  li {
    padding: 10px 0;
    display: block;

    a {
      text-decoration: none;

      &:hover {
        background-color: transparent;
      }
    }
  }
}

@media (max-width: 590px) {
  .navbar {
    display: block;

  }

}

#user-email {
  color: vars.$neutrals-300;
  font-size: .8rem;
  padding-bottom: .5rem;
}

#user-name {
  font-size: .9rem;
  font-weight: 600;
}

.dropdownDivider {
  border-top: 1px solid vars.$neutrals-100;
  padding: .4rem 0;
  margin-top: .5rem;
}

#profileDropdown {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: .35rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}