@use '../abstracts/variables' as vars;

// Navbar Styles
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: vars.$bg-color;
  color: rgb(27, 27, 27);
  padding: 2% 7%;
  position: sticky;
  width: 100%;
  z-index: 999;

  .logo {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 1rem;
    flex-shrink: 0;
  }

  .navbar-buttons {
    display: flex;
    gap: 0.5rem;
  }

  .nav-list,
  .nav-list-links {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .nav-links a {
    text-decoration: none;
  }
}

// Authentication Container
.auth-container {
  position: relative;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  margin-inline-end: 0.4rem;
}

.profile-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: vars.$neutrals-300;
  font-weight: bold;
  font-size: 20px;
  color: vars.$bg-color;
  cursor: pointer;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Dropdown Menu
.dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background: vars.$bg-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 24px 24px 12px;
  display: none;
  z-index: 10;
  font-size: 14px;
  border-radius: 12px;

  &.visible {
    display: block;
  }

  button {
    padding: 5px 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-align: start;
    width: 100%;

    &:hover {
      background-color: vars.$primary-400;
    }
  }
}

#profileDropdown {
  display: flex;
  align-items: baseline;
  gap: .2rem;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    vertical-align: middle;

    &:hover {
      opacity: .7;
    }
  }
}

#dropdownMenu > button {
  display: flex;
  gap: 0.4rem;
  color: vars.$text-300;
  align-items: center;
  border-radius: 8px;

  &:hover {
    background-color: vars.$neutrals-50;
  }
}

// Responsive Navigation Modal
.nav-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  justify-content: center;
  align-items: center;

  &.visible {
    display: flex;
  }

  .modal-content {
    background: white;
    padding: 48px 24px 24px 32px;
    border-radius: 8px;
    max-width: 380px;
    height: auto;

    input {
      width: 100%;
      padding: 10px;
      margin: 12px 0 0;
      box-sizing: border-box;
    }
  }
}

// Buttons
.google-login-button,
#modalLoginButton,
#signupModalButton {
  width: 100%;
  padding: 10px;
  background-color: vars.$primary-500;
  color: vars.$bg-color;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  border-radius: 5px;

  &:hover {
    background-color: vars.$primary-400;
  }
}

.google-login-button {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  background-color: vars.$neutrals-50;
  color: vars.$text-500;
  margin-bottom: 24px;

  &:hover {
    background-color: rgba(224, 217, 217, 0.685);
  }

  img {
    width: 24px;
  }
}

#forgotPassword {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: vars.$text-500;
  margin-top: .2rem;
  text-decoration: underline;

  &:hover {
    color: vars.$text-300;
  }
}

#privacyPolicy {
  p, a {
    color: vars.$neutrals-500;
    font-size: .7rem;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
  }
}

// Small Screens Adjustments
#menu,
#login,
#signup,
#book-now,
#dashboardButton {
  display: none;
  cursor: pointer;
}

@media (max-width: 1202px) {
  .nav-list-links li,
  .dashboard,
  .book-now {
    display: none;
  }

  #menu,
  #login,
  #signup,
  #book-now {
    display: block;
  }

  #menu {
    margin-right: 0.5rem;
    background-color: transparent;
    border: none;
  }
}

@media (max-width: 590px) {
  .navbar {
    display: block;
  }
}

// Utility Classes
.input-warning {
  color: red;
  font-size: 0.7rem;
  display: none;
}

.account-switcher {
  display: flex;
  font-size: 14px;
  font-weight: 500;
  align-items: center;
  gap: 0.5rem;

  button {
    padding-left: 0;
    font-size: 14px;
    font-weight: 600;
    color: vars.$primary-500;
    text-decoration: underline;

    &:hover {
      color: vars.$primary-600;
    }
  }
}
