---
layout: layouts/base.html
title: Latest posts
---


<div class="container">

  <!-- Pages Index -->
  <nav class="pagination-links section__title">
    <ol class="pagination-links__list">
      <li class="pagination-links__list__item"><a href="/">Home ></a></li>
      <li class="pagination-links__list__item"><a href="#">Blog</a></li>
    </ol>
  </nav>

  <!-- * Seção de preview para todos os Artigos -->
  <section class="articles">
    <div class="section__title">
      <h2>Cleaning tips</h2>
      <p>Transform your cleaning routine! Discover our curated cleaning tips that make maintaining a spotless home a breeze. Click now to discover the secrets that will save you time and energy.</p>
    </div>
    
    <ol role="list" class="articles__list">
      {% for post in collections.posts | sort(attribute='date', reverse=true) %}
        {% if loop.index %}
          <li role="article" class="articles__list__item">
            <a href="{{ post.url }}">
              <article>
                <div class="articles__image">
                  <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}">
                </div>
                <h3 class="articles__title">{{ post.data.title }}</h3>
                <span class="articles__categories">{{ post.data.tags }}</span>
                <p class="articles__description">{{ post.data.description }}</p>
              </article>
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ol>
</section>