.faq__left,
.faq__right {
    flex: 1 1;
}

// *FAQ
.faq {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 48px;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 60%;
            min-width: 80%;
        }
    }
}

@media (max-width: 698px) {
    .faq {
        flex-direction: column;

        form {
            min-width: 100%;
            width: 100%;
        }
    }
}


/* Faq Email Success*/

.success-message {
    padding: 10px;
    margin-top: 10px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
  }
  
  /* Subscribe Email*/
  
  .subscribe-message {
    margin-top: 10px;
    color: #28a745;  /* Verde para sucesso */
    font-size: 14px;
    text-align: center;
  }