.section {
    padding: 56px 0;

    @media (max-width: 1200px) {
        padding: 48px 0;
    }
}

.container {
    padding: 0 8%;
    margin: 2% auto;

    @media (max-width: 780px) {
        padding: 0 4%;
    }

    @media (min-width: 1350px) {
        padding: 0 22%;
    }
}

.section__title {
    margin-bottom: 2rem;
}

.section-blog {
    padding: 2% 22%;
}