.faq__left,
.faq__right {
    flex: 1 1;
}

// *FAQ
.faq {
    display: flex;
    padding: 48px 5%;
    gap: 2rem;
    justify-content: space-between;

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            width: 60%;
            min-width: 80%;
        }
    }
}

@media (max-width: 698px) {
    .faq {
        flex-direction: column;

        form {
            min-width: 100%;
            width: 100%;
        }
    }
}