@use '../abstracts/variables' as vars;

.hero {
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    padding-left: 7%;
    width: 100%;
    position: relative;
}

.hero__content {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.hero__text {
    width: 50%;
    padding-right: 3.5rem;
    margin-top: 3.5rem;
}

.hero__text-title {
    font-size: 2.8rem;
    margin-bottom: 20px;
}

.hero__text-description {
    margin-bottom: 1.5rem;
}

.hero__image {
    width: 50%;
    height: 100vh;
    position: relative;
}

.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__form-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 280px;
    padding: 36px 24px 32px 24px;
    background-color: vars.$bg-color;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.103);
    border-radius: 10px;

    button {
        width: 100%;
    }
}

.hero__form-select-container {
    position: relative;
    margin-bottom: 10px;
}

.hero__form-select {
    width: 100%;
    padding: 12px 12px 12px 20px;
    /* Espaço para o ícone à esquerda */
    margin-bottom: 8px;
    border: 1px solid vars.$neutrals-100;
    cursor: pointer;
    border-radius: 8px;
    appearance: none;
    background-color: vars.$neutrals-50;
    font-size: .9rem;
    color: vars.$text-500;
    text-indent: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Ícone à esquerda */
.hero__form-select-left-icon.bedroom {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    /* Alinhamento vertical perfeito */
    width: 20px;
    height: 20px;
    background-size: 20px;
    background: url('/assets/images/icons/form/bedroom.svg') no-repeat center center;
}

.hero__form-select-left-icon.bathroom {
    position: absolute;
    left: 10px;
    top: 40%;
    transform: translateY(-50%);
    /* Alinhamento vertical perfeito */
    width: 20px;
    height: 20px;
    background-size: 20px;
    background: url('/assets/images/icons/form/bathroom.svg') no-repeat center center;
}

/* Ícone à direita */
.hero__form-select-arrow-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    /* Alinhamento vertical perfeito */
    width: 24px;
    height: 24px;
    background: url('/assets/images/icons/form/arrow-down.svg') no-repeat center center;
    background-size: 20px;
}

/* Toggle */
.hero__toggle-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.hero__toggle {
    position: relative;
    width: 34px;
    height: 20px;
    background-color: vars.$neutrals-100; /* Cor do toggle quando inativo */
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.hero__toggle:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: vars.$bg-color; /* Cor da bolinha dentro do toggle */
    transition: transform 0.3s;
}

.hero__toggle-text {
    font-size: 1rem;
    color: vars.$neutrals-400; /* Cor do texto quando inativo */
    margin-left: 10px;
    cursor: pointer;
}

/* Muda a cor do toggle quando está ativo */
.hero__toggle.active {
    background-color: vars.$primary-500; /* Cor do toggle quando ativo */
}

/* Muda a cor da bolinha dentro do toggle quando está ativo */
.hero__toggle.active:before {
    transform: translateX(14px); /* Move a bolinha para o lado */
}

/* Muda a cor do texto quando o toggle está ativo, mas sem mudar a cor do toggle */
.hero__toggle.active + .hero__toggle-text {
    color: vars.$text-400; /* Cor do texto quando o toggle está ativo */
}



@media (max-width: 740px) {
    .hero {
        padding-left: 0;
        height: auto;
    }

    .hero__content {
        flex-direction: column;
        height: auto;
    }

    .hero__image {
        width: 100%;
    }

    .hero__text {
        width: 100%;
        text-align: start;
        padding: 0 5%;
        margin-bottom: 1rem;
    }

    .hero__form-container {
        top: 10%;
    }
}

.hero__text-kicker {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: .4rem;
    margin-bottom: 12px;
    
    strong {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }
}