
@use '../abstracts/variables' as vars;


// * Our Services *
.services {

    &__nav,
    &__included {
        display: flex;
    }

    &__nav {
        gap: .6rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        button {
            background-color: transparent;
            border: none;
            border: 1px solid vars.$neutrals-100;
            border-radius: 12px;
            display: flex;
            font-size: .8rem;
            gap: .4rem;
            align-items: center;
            line-height: 1;
            cursor: pointer;
            padding: 14px 20px;

            &:hover {
                background-color: vars.$neutrals-50;
                border: vars.$accent-400 1px solid;
            }


        }
    }
}

.services__cleaning li {
    display: none;
}

.services__cleaning li:not([hidden]) {
    display: block;
}

.hidden {
    display: none;
}
.view-more-btn {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.services__included {
    li {
        font-size: .9rem;
        color: vars.$text-200;
    }
}

#included-services li {
    display: inline-block;
    margin-right: 8px; /* Espaço entre os itens */
}
