
@use '../abstracts/variables' as vars;


// * Our Services *
.services {



    &__nav,
    &__included {
        display: flex;
    }

    &__cleaning {
        h3 {
            margin-bottom: .5rem;
        }
    }

    &__nav {
        gap: .6rem;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        button {
            background-color: transparent;
            border: none;
            border: 1px solid vars.$neutrals-100;
            border-radius: 12px;
            display: flex;
            font-size: .8rem;
            gap: .4rem;
            align-items: center;
            line-height: 1;
            cursor: pointer;
            padding: 14px 20px;

            &:hover {
                background-color: vars.$neutrals-50;
                border: vars.$accent-400 1px solid;
            }


        }
    }
}

.services__included {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    button {
        white-space: pre;
    }
    ul {
        margin-top: .5rem;
        display: flex;
        max-width: 80%;
    }
    li {
        display: flex;
        word-spacing: .2rem;
        font-size: .9rem;
        color: vars.$text-200;
        line-height: 1.2;
    }
}

#included-services li {
    margin-right: 8px; /* Espaço entre os itens */
}


@media (max-width: 780px) {

    .services__included {
        flex-direction: column;
        gap: .5rem;
    }

    .services__nav {
        flex-wrap: nowrap;
        overflow-x: auto; 
        overflow-y: hidden;
        -ms-overflow-style: none; 
        scrollbar-width: none;
        width: 105%;
        padding-right: 5%;

        button {
            white-space: nowrap;
        }
    }

    .services__nav::-webkit-scrollbar {
        display: none; /* Esconde a barra de rolagem no WebKit (Chrome, Safari, etc.) */
    }
    
    
}

.services__nav button {
    background-color: transparent;
    border: none;
    border: 1px solid vars.$neutrals-100;
    border-radius: 12px;
    display: flex;
    font-size: .8rem;
    gap: .4rem;
    align-items: center;
    line-height: 1;
    cursor: pointer;
    padding: 14px 20px;
    height: 100%;

    &:hover {
        background-color: vars.$neutrals-50;
        border: vars.$accent-400 1px solid;
    }

    &.active {
        background-color: vars.$neutrals-50;  // Mantém a cor de fundo do hover
        border: vars.$accent-400 1px solid;   // Mantém a borda do hover
    }
}
