@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mixin;

.section-wrapper {
    background: -webkit-linear-gradient(rgba(255, 70, 192, 0.05) 0%, rgba(21, 165, 246, 0.05) 100%);
    padding: 48px 0;
}

#testimonials-container {
    display: flex;
    gap: 1.5em;
    padding: 48px 0;
    overflow: auto;
}

// Testimonial Card
.testimonials {
    min-width: 320px;
    max-width: 400px;
    background-color: vars.$bg-color;
    display: flex;
    box-shadow: 0px 17px 45.6px -30px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1.4rem 1.2rem;
    cursor: pointer;

    &__logos {
        display: flex;

        &__description {
            margin-right: 1rem;

            p,
            strong {
                color: vars.$text-200;
                font-size: 1rem;
            }

        }

        &__images {
            display: flex;
            gap: 1.2rem;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        font-size: .8rem;
    }

    &__header {
        text-align: start;
        h2 {
            font-size: 1rem;
            width: max-content;
        }

        &-details {
            font-size: .7rem;
            text-align: end;
            color: vars.$text-200;
        }

        &--rating {
            display: inline-flex;
            gap: 0;
            padding: 0;
            margin: 0;
        }
    }

    &__header,
    &__header__initials {
        display: flex;
        align-items: center;

        &__initials {
            min-width: 38px;
            height: 38px;
            border-radius: 100%;
            justify-content: center;

            span {
                color: white;
            }
        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
    }

    &__reply {
        background-color: vars.$neutrals-50;
        padding: 12px;
        border-radius: 4px;

        span {
            font-size: .8rem;
            color: vars.$text-300;
        }
    }
}

.testimonials__header-wrapper,
.testimonials__reply__logo {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-left: 1.2rem;

}

.testimonials__reply__logo {
    margin-left: 0rem;
    margin-bottom: .8rem;
}

.testimonials__pictures {
    display: flex;
    gap: .5rem;

    div {
        flex: 1 1;
        max-height: 80px;
        width: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;

    }
}

/* Modal Overlay Testimonials */
.modal {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    transition: opacity 0.3s ease;
}

.modal.hidden {
    display: none;
}

.close-button {
    display: none;
}

.modal-content {
    background: white;
    padding: 0;
    border-radius: 12px;
    box-shadow: none;
    position: relative;
    height: 80vh;
    overflow: auto;
}

.testimonials p {
    @include mixin.truncate(4)
}

.testimonials__reply p {
    @include mixin.truncate(2)
}

// Desabilitar line-clamp para a modal aberta
.modal .testimonials p,
.modal .testimonials__reply p {
    @include mixin.truncate-disabled
}

/* Estilos para o overlay da imagem expandida */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expanded-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 8px;
}

.close-overlay-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}