// base/_typography.scss
@use '../abstracts/variables' as vars;

.highlight-text {
  color: vars.$primary-500;
}

h1 {
  line-height: 1.2;
  letter-spacing: -2%;
}

p {
  line-height: 1.5;
  letter-spacing: -1.4%;
}

ul {
  li {
    line-height: 1;
    letter-spacing: 0;
  }
}

.section__title {
  &--center {
    text-align: center;
  }
}