<!-- Template de Artigo -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% include "basehead.html" %}
    {%block head %}{% endblock %}
</head>

<body>
    <header>
        {% include "navbar.html" %}
    </header>
    <main class="container">

        <!-- Artigo dinâmico -->
        <article class="article">
            <div class="section__title">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>
            </div>

            <!-- Imagem dinâmica -->
            <div class="article__image section__title">
                <img src="{{ image }}" alt="Imagem do post">
            </div>

            <!-- Conteúdo dinâmico -->
            <div class="section__title">
                {{ content | safe }}
            </div>
        </article>

    </main>





</body>