<!-- Template de Base -->
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Basehead -->
    {% include "basehead.html" %}
    {%block head %}{% endblock %}
</head>

<body>
    <!-- Header -->
    <header>
        {% include "navbar.html" %}
    </header>
    <!-- Main -->
    <main>
        {{ content | safe }}
    </main>
    <!-- Footer -->
    <footer>
        {% include "footer.html" %}
    </footer>

</body>

<!-- Scripts -->

<!-- Menu Nav -->
<script src="/assets/scripts/navbar.js"></script>
<script src="/assets/scripts/menu-mobile.js"></script>
<script src="/assets/scripts/accordion.js"></script>
<script src="/assets/scripts/services.js"></script>
<script src="/assets/scripts/scroll-x.js"></script>
<script src="/assets/scripts/included.json"></script>
<script src="/assets/scripts/faq.js"></script>
<script src="/assets/scripts/server.js"></script>

<!-- Mascaras -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.7/dist/inputmask.min.js"></script>


<!-- Shoelace -->
<script type="module"
    src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.19.0/cdn/shoelace-autoloader.js"></script>

<!-- Testimonials -->
<script type="module" src="/assets/scripts/main.js"></script>
<script type="module" src="/assets/scripts/nav-menu.js"></script>
<script type="module" src="/assets/scripts/contact-modal.js"></script>
<script type="module" src="/assets/scripts/toggle.js"></script>
<script type="module" src="/assets/scripts/pre-form.js"></script>
<script type="module" src="/assets/scripts/scroll.js"></script>
<script type="module" src="/assets/scripts/carousel.js"></script>
<script type="module" src="/assets/scripts/footer.js"></script>


</html>